.footer {
    background: black;
    color: white;
    text-align: center;
    padding:  50px 0; 
    margin-top: 50px;
    line-height: 50px;
    font-size: 24px;
}
@media all and (max-width: 820px) {
    .footer {        
        font-size: 12px;
    }
}